{% from "macros/_form.html" import render_form %}

{% set page_title = 'Room Page' %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <div class="card mb-6 box-shadow">
          <div class="card-body">
            <h3 class="card-text">Room: {{ room.name }}</h3>
            <p></p>
            <p class="text-muted">Reference URL: {{ room.reference_url }}</p>
            <p class="text-muted">Info text: {{ room.info_text }}</p>
            <p class="text-muted">Room location ID: {{ room.id }}</p>
            <p class="text-muted">Responsible admin: {{ resp_user.name }} ({{ resp_user.email }})</p>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
        <h5>Usable Equipment</h5>
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Equipment name</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_equipment|length > 0 %}
                          {% for item in all_equipment %}
                          {% if item|length > 0 %}
                            {% for equipment in item %}
                            {% if not equipment.is_in_use() %}
                            <tr>
                              <td>{{ equipment.name }}</td>
                              <td>
                                <div class="btn-group" role="group" aria-label="Task Actions">
                                  <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-primary" href="{{ url_for('equipment.view_equipment', id=equipment.id) }}">View</a>
                                  <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-secondary" href="{{ url_for('equipment.borrow_equipment', id=equipment.id) }}">Borrow</a>
                                </div>
                              </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                          {% else %}
                            <tr>
                            </tr>
                            {% endif %}
                          {% endfor %}
                          {% endif %}
                        </tbody>
                    </table>
                    <h5>Equipment in use</h5>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Equipment name</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_equipment|length > 0 %}
                        {% for item in all_equipment %}
                        {% if item|length > 0 %}
                          {% for equipment in item %}
                          {% if equipment.is_in_use() %}
                          <tr>
                            <td>{{ equipment.name }}</td>
                            <td>
                              <div class="btn-group" role="group" aria-label="Task Actions">
                                <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-primary" href="{{ url_for('equipment.view_equipment', id=equipment.id) }}">View</a>
                                <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-danger" href="{{ url_for('equipment.return_equipment', id=equipment.id) }}">Return</a>
                              </div>
                            </td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        {% else %}
                          <tr>
                          </tr>
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                      </tbody>
                    </table>

                    <h5>Room Equipment</h5>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Equipment name</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_equipment|length > 0 %}
                        {% for item in all_equipment %}
                        {% if item|length > 0 %}
                          {% for equipment in item %}
                          <tr>
                            <td>{{ equipment.name }}</td>
                            <td>
                              <div class="btn-group" role="group" aria-label="Task Actions">
                                <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-primary" href="{{ url_for('equipment.view_equipment', id=equipment.id) }}">View</a>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                          </tr>
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                        </tbody>
                    </table>

                    <h5>Storage in room</h5>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th> Storage name</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if storages|length > 0 %}
                          {% for storage in storages %}
                          <tr>
                            <td>{{ storage.name }}</td>
                            <td>
                              <div class="btn-group" role="group" aria-label="Task Actions">
                                <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-primary" href="{{ url_for('equipment.view_storage', id=storage.id) }}">View</a>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                    <a style="margin-right: 5px; margin-left: 5px;" class="btn btn-outline-dark" href="/equipment/my_page">Back to my overview</a>
      </div>
    </div>
  </div>
{% endblock %}