{% from "macros/_form.html" import render_form %}

{% set page_title = 'View Equipment' %}

{% extends 'layouts/base.html' %}

{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
      	<div class="card mb-6 box-shadow">
            <div class="card-body">
            	<p class="card-text">Equipment: {{ equipment.name }}</p>
              <p></p>
              <p class="text-muted">Reference URL: {{ equipment.reference_url }}</p>
              <p class="text-muted">Info text: {{ equipment.info_text }}</p>
              <p class="text-muted">Storage location ID: {{ equipment.storage_location_id }}</p>

              <p class="text-muted">Responsible admin: {{ resp_user.name }} ({{ resp_user.email }})</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Is usable: {{ equipment.is_usable }}</small>
                <small class="text-muted">Is calibration nessessary: {{ equipment.is_calibration_nessessary }}</small>
                <small class="text-muted">Is briefing nessessary: {{ equipment.is_briefing_nessessary }}</small>
              </div>
              <p></p>
              <p>Calibrations: </p>
              <p>{{ equipment.calibrations }}</p>
              <p>Comments: </p>
              <p>{{ equipment.comments }}</p>
              <p>Briefings: </p>
              <p>{{ equipment.briefings }}</p>
              <p>Usages: </p>
              <p>{{ equipment.usages }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}